@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-y: scroll;
  overscroll-behavior-y: none;
}

html::-webkit-scrollbar {
  width: 10px;
  height: 1px;
}

html::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background: #ededed;
}

html::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #535353;
}
